  import jade.core.Agent;

  public class HelloAgent extends Agent 
  { 
      protected void setup() 
      { 
          System.out.println("Hello World. Em Jade");
          System.out.println("My name is "+ getLocalName()); 
      }
  }